<div>
  <%= render 'shared/user_details'%>
</div>
<div>
  <% @posts.each do |post| %>
    <div>
      <div class="post-content_wrapper">
        <h3 class="post-title"><%= link_to 'Post#' +'  '+ post.title, user_post_path(@user.id, post) %></h3>
        <p><%= post.text%></p>
      </div>
      <div class="comment_details">
        <% if post.comments.empty? %>
          <p>0 Comments</p>
          <% else %>
            <% post.comments.each do |comment| %>
            <p> <%= comment.author.name %> <span>: <%= comment.text %></span></p>
          <% end %>  
        <% end %>
      </div>
    </div>
  <% end %>
  <%= link_to 'create new post',new_user_post_path(@user.id) %>
</div>