<section >
<div class="post-wrapper">
  <div class="top-post">
    <span>
      Post #<%= @post.id %> <%= @post.title %> by  <%= @post.author.name %>
    </span>
    <span>
      Comments: <%= @post.comments_count %> , Likes: <%= @post.likes_count %>
    </span>
  </div>
  <p class="post-comment"><%= @post.text %></p>
  <%= render 'shared/new_like' %>
</div>
  <ul class="comments-list">
      <%if @post.comments_count > 0%>
        <% @post.comments.each do |comment| %>
          <li>
            <%= comment.author.name%>:
            <%= comment.text%>
          </li>
        <% end %>
      <% end %>
      <%= render 'shared/new_comment' %>
  </ul>   
</section>